{% extends "blogs/base.html" %}

{% block content %}

<div class="container">
    <hr>
    <div class="row py-5">
        <div class="col-lg-10">
            <div class="p-4 rounded bg-white">
                <h1 class="text-center mb-3 fw-bold"> {{article.title}} </h1>
                <p class="text-center text-muted mb-4">By <strong> {{article.author.user}} </strong> | {{article.updated_at|date:'M d Y'}}</p>
                <div class="text-center mb-4">
                    <img src="{{article.thumbnail.url}}"
                        alt="{{article.title}}" class="img-fluid w-100 mb-2"
                        style="object-fit: cover; max-height: 500px;">
                    <!-- image description -->
                    <small class="text-secondary">{{article.title}}</small>
                </div>
                <article class="fs-5 lh-lg text-dark">
                    {{article.content|safe}}
                </article>
            </div>
        </div>
        <div class="col-lg-2 my-5 pt-5">
            <div class="text-justify">
                <h4 class="mb-4 fw-bold text-danger">Recent News</h4>
    
                {% for article in recent_articles %}
                    <a href="{% url 'article' article.slug %}" class="text-dark">
                        <div class="mb-4">
                            <div class="d-flex align-items-start">
                                <i class="bi bi-square-fill text-warning me-2 mt-1"></i>
                                <div>
                                    <h6 class="mb-1"> {{article.title|truncatewords:6}} </h6>
                                    <small class="text-muted">{{article.updated_at|date:"F d, Y"}}</small>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <h3 class="mb-4 fw-bold">More News</h3>
    <div class="row g-4">
        {% if related_articles %}
            {% for article in related_articles  %}
            <!-- News Card -->
                <div class="col-md-3 position-relative">
                    <img src=" {{article.thumbnail.url}} " class="card-img-top" alt=" {{article.title}} ">
                    <h5 class="fw-bold mt-2">{{article.category}}</h5>
                    <h6 class="card-title ">{{article.title}}</h6>
                    <p class="card-text text-muted"> {{article.content|striptags|truncatewords:10}} </p>
                    <a href="{% url 'article' article.slug %}" class="stretched-link"></a>
                    <small>{{article.updated_at|date:'M d, Y'}}</small>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}