{% extends "blogs/base.html" %}

{% block content %}
<div class="container">
    <hr>
    <!-- Category Header -->
    <h2 class="text-center"> {{category.title}} </h2>
    <hr class="w-25 mx-auto my-3" style="height: 2px; width: 50px;">
    {% if articles %}
        <div class="container py-4">
            {% for article in articles %}
                <div class="row border-bottom pb-4 mb-4 align-items-center">
                    <!-- Date -->
                    <div class="col-2 text-center">
                        <div class="text-muted">
                            <strong> {{article.updated_at|date:'M d'}} </strong><br>
                            <small> {{article.updated_at|date:'Y'}} </small>
                        </div>
                    </div>

                    <!-- Blog Content -->
                    <div class="col-8">
                        <h5 class="mb-1 fw-semibold"> <a href="{% url 'article' article.id %}" class="text-dark text-decoration-none">{{article.title}}</a></h5>
                        <p class="mb-2 text-muted small">
                            {{article.content|truncatewords:35}}
                        </p>
                        <p class="mb-0"><small class="text-primary">By {{article.author}} </small></p>
                    </div>

                    <!-- Thumbnail -->
                    <div class="col-2">

                        <a href="{% url 'article' article.id %}" class="text-dark text-decoration-none">
                            <img src=" {{article.thumbnail.url }} "
                            alt="  {{article.title}} " class="img-fluid">
                        </a>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h6 class="text-center">No {{category.title}} posts are available </h6>
    {% endif %}
</div>

{% endblock %}