{% extends "blogs/base.html" %}

{%load crispy_forms_tags %} 

{% block content %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Login </h3>
        <h6>Enter your Credentials here </h6>
        <hr>
        <br>

        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

    </div>
</div>
{% endblock %}

{% block extra_context %}
    {% with hide_navbar=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}