{% extends "blogs/base.html" %}

{%load crispy_forms_tags %} 

{% block content %}
    <div class="container w-75 bg-light shadow-md p-5">
        <h3 class="text-center mb-4">Update Article</h3>
        <hr>            
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}} 
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Update Article &nbsp; <i class="fa-solid fa-save"></i></button>
        </form>
        <br> 
    </div>
    <br>
{% endblock %}